<link rel="stylesheet" href="/css/company.css">
<h1> while creating company we create admin along  to manage company</h1>

<form action="/createcompany" method="post">
    <p><div>company Name : </div><input type="text" name="cname" placeholder="company name" required></p>
    <p><div>description : </div><textarea name="description"  cols="21" rows="4" placeholder="description" required></textarea></p>
    <p><div>Admin name : </div><input type="text" name="name" placeholder="admin name" required></p>
    <p><div>Email : </div><input type="text" name="email" placeholder="email" required></p>
    <p><div>password : </div><input type="password" name="password" placeholder="password" required></p>
    <p><div>confirm password : </div><input type="password" name="cpassword" placeholder="confirm password" required></p>
    <p><button type="submit">create</button></p>
</form>