<link rel="stylesheet" href="/css/company.css">
<h1>Sign In</h1>

<form action="/users/create-session" method="post"> 
    <p><div>Email : </div><input type="email" name="email" placeholder="Your Email" required></p>
    <p><div>password : </div><input type="password" name="password" placeholder="Password" required></p>
    <p><input type="submit" value="Sign In"></p>
</form>